<%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div>
                        <strong>Nombre:</strong> <p><%= nombre %></p>
                    </div>
                    <div>
                        <strong>Tipo de servicio:</strong> <p><%= tipoServicio %></p> <!-- Asegúrate de convertir el valor a una descripción legible -->
                    </div>
                    <div>
                        <strong>Kilowatts consumidos:</strong> <p><%= kilowatts %></p>
                    </div>
                    <div>
                        <strong>Costo por kilowatt:</strong> <p><%= costoK %></p>
                    </div>
                    <div>
                        <strong>Sub Total:</strong> <p><%= subTotal %></p>
                    </div>
                    <div>
                        <strong>Impuesto:</strong> <p><%= impuesto %></p>
                    </div>
                    <div>
                        <strong>Descuento:</strong> <p><%= descuento %></p>
                    </div>
                    <div>
                        <strong>Total:</strong> <p><%= total %></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <%-include('partials/footer.ejs')%>
    </body>
</html>